
/*Component*/
@import "./header.css";
@import "./buttons.css";
/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;  
    text-decoration: none;  
    font-family: 'Afacad Flux', sans-serif;
    font-weight: bold;
}